/** Reset **/

/* Wildcard Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* HTML Reset */
html {
	font-size: var(--font-size);
	font-family: var(--font-family-fig-tree);
}

/* Body Reset */
body {
	background-color: var(--primary-color);
	padding: 1.5rem;
}

/* Main Reset */
main {
	background-color: var(--white-color);
	border: solid 0.0625rem;
	outline: none;
	max-width: 23.4375rem;
	margin: 0 auto;
	padding: 1.5rem;
	border-radius: 1rem;
	box-shadow: 0.375rem 0.375rem 0 0;
}

/* Image Reset */
img {
	width: 100%;
	border-radius: 0.5rem;
}
